.menu__header{
    display: flex;
    padding: 0 5rem;
    justify-content: space-between;
}

.menu__header__img{
    display: block;
    margin-right: 0px;
    
}

.menu__nav{
    position: relative;
    

}
.menu__nav__item{
    padding: 1rem 2rem 1rem 0rem;
    display: inline-block;
    
}