.menu__header{
    display: flex;
    padding: 0 5rem;
    justify-content: space-around;
}

.menu__nav{
    position: relative;
    

}
.menu__nav__item{
    padding: 1rem 2rem 1rem 0rem;
    display: inline-block;
    
}