.presentacion{
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    
}

.presentacion__texto{
    font-size: 34px;
    font-weight: bold;
}

.presentacion__links{
    display: flex;
    display: inline-block;
    font-size: 12px;
}

.presentacion__foto{
    display: block;
    width: 8%;
}