.presentacion__container{
    display: flex;
    justify-content: space-around;
}

.presentacion__links{
    display: flex;
    padding: 1rem;
}

.presentacion__links__items{
    padding: 1rem;
}

.presentacion__foto{
    width: 12%;
    height: 12%;
    max-width: 12%;
}